/* Header Style */
.header-part {
    display: flex;
    width: 1220px;
    height: 65px;
    margin-top: 53px;
    margin-left: 350px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
    top: 0px;
}
.icon {
    width: 42.17px;
    height: 29px;
}
.banner{
    width: 200px;
    height: 38px;
    display: flex;
    align-items: center;
}
.banner-text{
    font-size: 25px;
    color: #1e1e20;
    display: inline-block;
    font-family: "Poppins";
}
.banner-text-add {
    color: #6B77E5;
    font-size: 25px;
    display: inline-block;
}
.navigation {
    width: 601px;
    height: 22px;
    display: flex;
    display: flex;
    justify-content: space-between;
}
.nav-li-item {
    color: #37393F;
    font-size: 18px;
    font-family: "Inter";
}
.button-text {
    font-size: 18px;
}
.header-button {
    display: flex;
    background-color: #6B77E5;
    width: 184px;
    height: 65px;
    justify-content: center;
    align-items: center;
}
/* About Us Style */
.AboutUs {
    width: 1220px;
    height: 510px;
    margin: 254px 350px 60px 352px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;

}
.AboutUs-title {
    width: 283px;
    height: 86px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.AboutUs-title-text1{
    color: #37393F;
    font-size: 18px;
    font-family: "Inter";
}
.AboutUs-title-text2 {
    color: #37393F;
    font-size: 40px;
    font-family: "Poppins";
}
.content {
    display: flex;
    width: 1220px;
    height: 383px;
}
.content-box1 {
    display: flex;
    width: 386px;
    height: 383px;
    flex-direction: column;
    align-items: center;
    padding: 10px 114px 58px 157px;
    
}
.content-box1-text {
    width: 300px;
    height: 185px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.contenttext1 {
    color: #37393F;
    font-family: "Poppins";
    font-size: 25px;
}
.contenttext2 {
    color: #7D7D7D;
    font-size: 18px;
    font-family: "Inter";
}
.contenttext3 {
    color: #6B77E5;
    font-family: "Inter";
    font-size: 18px;
}
.content-box1-icon {
    width: 72px;
    height: 72px;
    background-color: #40DDB6;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 80%;
}
.fa-calendar {
    font-size: 45px;
}
.purple {
    background-color: #6B77E5;
}
.shield {
    font-size: 45px;
}
/* _________________________________ */
.video {
    width: 1920px;
    height: 557px;
    position: relative;
}
.video-item {
    display: inline-block;
}
.fa-play {
    color: #fff;
    font-size: 35px;
}
.video-logo {
    background-color:#6B77E5 ;
    width: 64.5px;
    height: 64.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 75%;
}
.video-text {
    width: 511px;
    height: 159px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 143px;
    right: 704px;
    bottom: 143.5px;
    left: 705px;
}
.video-text-item1 {
    color: #37393F;
    font-size: 18px;
    font-family: "Inter";
}
.video-text-item2 {
    color: #37393F;
    font-family: "Poppins";
    font-size: 40px;
}
.video-text-item3 {
    color: #37393F;
    font-family: "Inter";
    font-size: 18px;
}
.video-block {
    width: 1920px;
    height: 557px;
    position: relative;
}
/* footer */
.footer {
    width: 1220px;
    height: 659px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
    flex-direction: column;
}
.footer-title {
    width: 348px;
    height: 86px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;

}
.footer-title-item1 {
    color: #37393F;
    font-size: 18px;
    font-family: "Inter";
}
.footer-title-item2 {
    color: #37393F;
    font-size: 40px;
    font-family: "Poppins";
}
.footer-team {
    width: 1220px;
    height: 532px;
    display: flex;
    margin-top: 41px;
    justify-content: space-between;
}
.footer-team-member1{
    width: 386px;
    height: 532px;
    border: #1e1e20 2px dotted;
}
.photo-text {
    width: 341px;
    height: 114px;
    background-color: #FFFFFF;
    position: absolute;
    top: 396px;
    left: 22px;
    right: 23px;
    bottom: 22px;
    /*  */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content:space-around;
}
.member-name {
    color: #37393F;
    font-size: 25px;
    font-family: "Poppins";
}
.member-proff {
    color: #7D7D7D;
    font-family: "Inter";
    font-size: 18px;
}
.member1-photo {
    position: relative;
}