.main-title {
    font-size: 50px;
    font-family: "Roboto";
    margin: 60px 90px 500px 95px;
    color: darkblue;
}
.title {
    font-size: 150px;
    font-family: "Yellowtail";
    margin-left: 55px;
}