/* Texts */
.title-block-item1 {
    font-size: 16px;
    font-family: "Inter";
    text-align: center;
    color: #282828;
    margin: 0px 0px 4px 0px;
}
.title-block-item2 {
    font-size: 16px;
    font-family: "Inter";
    font-size: 54px;
    text-align: center;
    color: #282828;
}
.text1 {
    font-size: 20px;
    font-family: "Inter";
    color: #5F6980;
    text-align: center;
}
.Element-name {
    color: #282828;
    font-size: 18px;
    font-family: "Inter";
    font-weight: bold;
}
.Element-proffesion {
    color: #3E3E59;
    font-size: 14px;
    font-family: "Inter";
}
.Element-comment {
    font-size: 14px;
    color: #5F6980;
    font-family: "Inter";
}
.element-image {
    display: inline-block;
    width: 310px;
    height: 230px;
}
/* Blocks */
.header {
    width: 1336px;
    height: 178px;
    margin: 80px 52px 0px 52px;
}
.title-block2 {
    width: 760px;
    margin: 16px 288px 0px 288px;
}
.Cards {
    width: 1336px;
    height: 908px;
    margin: 48px 52px 0px 52px;
    /* Flex */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.Element {
    width: 310px;
    height: 430px;
}
.Content-info {
    width: 278px;
    height: 108px;
    margin: 0px 16px 60px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.Content-icons {
    width: 278px;
    height: 36px;
    margin-left: 16px;
}
/* footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-main {
    width: 1306px;
    height: 223px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;

}
.footer-block1 {
    width: 318.05px;
    height: 221px;
}
.footer-block1-textblock {
    width: 306.05px;
    height: 73px;
    margin: 32px 0px 28px 0px;

}
/* footer text */
.footer-text {
    color: #535353;
    font-size: 14px;
    font-family: "Inter";
}
.footer-block1-text {
    font-size: 14px;
    font-family: "Inter";
    color: #535353;
}
.footer-title {
    color: #1E1E1E;
    font-size: 20px;
    font-family: "Inter";
    font-weight: bold;
}
.footer-block1-icons {
    width: 104px;
    height: 24px;
    display: flex;
    justify-content: space-between;
}
.footer {
    width: 1654px;
    height: 512px;
    background-color: #53535354;
}
.footer-block2 {
    width: 136px;
    height: 223px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-block4 {
    width: 107px;
    height: 127.45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.desktop {
    display: flex;
    flex-direction: column;
}